.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}
.btn-toggle::after {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
.sidebar li .submenu{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}

.accordion-item {
    background: transparent;
    border: none;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: .9rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background: transparent !important;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background: transparent !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-collapse ul {
    padding-left: 1rem;
}
/*.select2-container--open .select2-dropdown--below{
    width: 466px;
    z-index: 99999999999;
}*/
.modal-open .select2-dropdown {
    z-index: 10060;
}

.modal-open .select2-close-mask {
    z-index: 10055;
}
.modal-open .select2-search--dropdown .select2-search__field {
    z-index: 10055;
}
.accordion, .accordion-button, .accordion-button:not(.collapsed), .sidebar .nav-link, .accordion-item{
    color: #8391a2;
}
.accordion, .accordion-button:hover, .sidebar .nav-link:hover, .accordion-item:hover{
    color: #bccee4;
}
.accordion, .accordion-button .active, .sidebar .nav-link.active, .accordion-item .active{
    color: #ffffff;
}
.footer {
    position: absolute;
    right: 0;
    /* bottom: 0; */
    left: 0;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.5rem;
    margin-top: 2rem;
    color: rgba(108, 117, 125, 0.75);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border-top: 1px solid #dee2e6;
}
.invalid-feedback{
    display: block;
}
.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}


.custom-control.teleport-switch {
    --color: #4cd964;
    padding-left: 0;
}

.custom-control.teleport-switch .teleport-switch-control-input {
    display: none;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator {
    border-color: var(--color);
}

.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::after {
    left: -14px;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::before {
    right: 2px;
    background-color: var(--color);
}

.custom-control.teleport-switch .teleport-switch-control-input:disabled ~ .teleport-switch-control-indicator {
    opacity: .4;
}

.custom-control.teleport-switch .teleport-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 2px solid #ccc;
    overflow: hidden;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: 2px;
    left: 2px;
    background: #ccc;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: 2px;
    right: -14px;
    background: #ccc;
}

.required label:after {
    content: " *";
    color: #FF0000FF;
}

.outline-0 {
    outline: none;
}

.left-bg{
    background: linear-gradient(45deg, #555E65 0%, #585F65 100%) !important;
}
